*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
}
:root{
    --primary-color: white;
    --secondary-color: black;
}
body{
    background: linear-gradient(rgba(0, 0, 0, 0.514), rgba(0, 0, 0, 0.514)), url(https://images.pexels.com/photos/7454369/pexels-photo-7454369.jpeg);
    background-size: 100vw 100%;
}
img{
    height:10em;
}
h2{
    font-size: 2rem;
}
a{
    text-decoration: none;
}
.nav-menu {
    display: flex;
    justify-content: space-between;
    padding: 25px 120px;
    background-color: var(--primary-color);
}
.nav-menu h1 {
    cursor: pointer;
}
.nav-menu ul li {
    list-style: none;
    margin-left: 20px;
}
.nav-menu ul a {
    text-decoration: none;
    display: inline-block;
    color: black;
}
.body_page{
    display: flex;
    justify-content: center;
    color: var(--primary-color);
}
.btn{
    display: inline-block;
    background: transparent;
    color: var(--primary-color);
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    border: 1px solid white;
}
.btn:hover{
    border: 1px solid #f7c02c;
    background-color: #f7c02c;
    box-shadow: 0px 0px 15px #f7c02c ;
}
.header{
    background: radial-gradient(#fff,#ffd6d6);
}
.categories{
    margin: 70px 0;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    color: var(--primary-color);
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
#breakfast, #meal{
    justify-content: center;
    margin-left: 130px;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
}
.col-4 img {
    width:100%;
}
footer{
    height: 8vh;
    padding-top: 1.2em;
    padding-right: 120px;
    padding-left: 120px;
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color);
}
footer img{
    height: 1.5rem;
    width: 1.5rem;
    margin-left: 1rem ;
}